@font-face {
    font-family: 'Antonio';
    src: url('../dependencies/Antonio/antonio-bold.eot'); /* IE9 Compat Modes */
    src: url('../dependencies/Antonio/antonio-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../dependencies/Antonio/antonio-bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../dependencies/Antonio/antonio-bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../dependencies/Antonio/antonio-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../dependencies/Antonio/antonio-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  }