$font-smoothing: antialiased;
$text-rendering: auto;
$base-font-family: 'Lato', sans-serif;
$font-lato: $base-font-family;
$base-font-size: 14px;
$base-font-color: #333;
$base-background-color: #fff;
$color-white: #fff;
$color-white-dark: #F2F2F2;
$color-black: #060606;
$color-text: #060606;

$color-primary: #DECFB2;
$color-primary-dark: #DACCAF;
$color-footer: #1A1009;

$breakpoint-tablet: 1180px;
$breakpoint-mobile: 768px;
$breakpoint-bootstrap-lg: 992px;

$breakpoint-mobile-520: 520px;
$breakpoint-mobile-425: 425px;
$breakpoint-mobile-375: 375px;
$breakpoint-mobile-min: 320px;

$site-size: 1200px + 120;