.u-sp-hidden {
    @include max-screen($breakpoint-mobile) {
        display: none;
    }
}

.u-tablet-hidden {
    @include max-screen($breakpoint-tablet) {
        display: none;
    }
}

.u-pc-hidden {
    @include min-screen($breakpoint-mobile) {
        display: none;
    }
}

.u-pc-tablet-hidden {
    @include min-screen($breakpoint-tablet) {
        display: none;
    }
}