.about {
    color: $color-white; 
    color: red;

    &-upper,
    p {
        color: $color-white-dark;

        @include max-screen($breakpoint-tablet) {
            font-size: 16px;
        }

        span,
        a {
            color: $color-primary-dark;
            position: relative;
            display: inline-block;

            @include max-screen($breakpoint-mobile) {
                color: $color-primary;
            }
        }

        a:before {
            content: "";
            display: block;
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $color-primary;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.15s ease-in-out;
        }

        a:hover {
            text-decoration: none;

            &:before {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }

    p {
        @include max-screen($breakpoint-tablet) {
            font-size: 16px;
        }

        &:not(.about-message-content) {
            @include max-screen($breakpoint-mobile) {
                text-align: center;
            }
        }
    }

    &-upper {
        font: {
            family: Lato;
            style: normal;
            weight: normal;
            size: 18px;
        }
        line-height: 130%;
        text-transform: uppercase;
        color: $color-primary-dark;

        @include max-screen($breakpoint-mobile) {
            font-size: 18px;
            line-height: 130%;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &-title {
        font: {
            family: $font-lato;
            style: normal;
            weight: bold;
            size: 30px;
        }
        line-height: 130%;
        text-transform: uppercase;

        @include max-screen($breakpoint-mobile) {
            font-size: 25px;
            text-align: center;
        }
    }

    &-member {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px 0;
        width: 100%;

        @include max-screen($breakpoint-mobile) {
            flex-direction: column;
        }

        &-content {
            width: calc(100% - 80px);
            padding-left: 10px;

            @include max-screen($breakpoint-mobile) {
                width: 100%;
                padding: 0;
            }
        }

        &-description {
            width: 100%;
            margin-top: 15px;

            @include min-screen($breakpoint-tablet) {
                display: flex;
                align-items: flex-end;
            }

            @include max-screen($breakpoint-tablet) {
                display: flex;
                align-items: flex-end;
            }

            @include max-screen($breakpoint-mobile) {
                display: block;
                width: calc(100% - 80px);
                margin: 10px 0 0 auto;
                padding-left: 20px;
                text-align: left;
            }

            p {
                margin-bottom: 0;

                &:not(.about-message-content) {
                    @include max-screen($breakpoint-mobile) {
                        text-align: left;
                    }
                }

                @include max-screen($breakpoint-mobile) {
                    text-align: left;
                }
            }
        }

        p {
            margin-bottom: 0;

            @include max-screen($breakpoint-mobile) {
                font-size: 16px;
                line-height: 130%;
                text-align: center;
            }
        }

        &-avatar {
            width: 80px;
            height: 80px;
            background-color: $color-white;
            border-radius: 50%;

            @include max-screen($breakpoint-mobile) {
                margin: 0 auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        //modifier
        &-sub {
            margin-bottom: 20px;
            
            @include max-screen($breakpoint-mobile) {
                margin: 20px 0;
            }

            .col-md-6 {

                @include min-screen($breakpoint-tablet) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                @include max-screen($breakpoint-tablet) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                @include max-screen($breakpoint-mobile) {
                    padding: 0;
                    display: block;
                }
            }

            .about-member {
                margin-bottom: 0;

                @include max-screen($breakpoint-mobile) {
                    flex-direction: row;
                }
            }

            .about-member p {
                @include max-screen($breakpoint-mobile) {
                    text-align: left;
                }
            }

            .about-member-content {
                @include max-screen($breakpoint-mobile) {
                    width: calc(100% - 80px);
                    padding-left: 20px;
                    text-align: left;
                }
            }
        }
    }

    &-message {
        display: flex;
        margin: 20px 0;

        @include max-screen($breakpoint-mobile) {
            text-align: left;
        }
        
        &-icon {
            width: 33px;
            margin-top: 10px;

            @include max-screen($breakpoint-mobile) {
                margin-top: 5px;
            }

            img {
                width: 100%;
            }
        }

        &-content {
            width: calc(100% - 33px);
            padding-left: 20px;
            font: {
                family: $font-lato;
                style: normal;
                weight: normal;
                size: 16px;
            }
            line-height: 19px;
            margin-bottom: 0;

            @include max-screen($breakpoint-mobile) {
                font-size: 14px;
            }

            p {
                margin-bottom: 0;
                text-align: left;

                &:not(.about-message-content) {
                    @include max-screen($breakpoint-mobile) {
                        text-align: left;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}