.landing {
    min-height: 100vh;
    height: auto;
    background: {
        image: url('../images/background/bg-web.png');
        position: center;
        size: cover;
    }

    @include max-screen(990px) {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    @include min-screen(990px) {
        padding: 10px 0;
        height: 100vh;
    }

    &-inner {
        height: 100%;
        padding-top: 35px;
        padding-bottom: 35px;
        
        background: {
            image: url('../images/background/mobile-bg.png');
            position: 50% -12px;
            size: 107% 107%;
        }

        @include max-screen($breakpoint-mobile) {
            height: 100vh;
            padding-top: 2vh;
            padding-bottom: 2vh;
        }

        @include min-screen($breakpoint-mobile) {
            background-size: cover;
        }

        @include min-screen(990px) {
            padding-top: 3vh;
            padding-bottom: 3vh;
        }
    }

    &-logo {
        img {
            width: 178px;
            display: block;
            margin: 0 auto;

            .landing-no-scroll & {
                @include max-screen(768px) {
                    width: 20vh;
                }
            }

            @include min-screen(990px) {
                width: 22vh;
            }
        }
    }

    &-description {
        color: $color-white;
        text-align: center;
        font-size: 24px; 
        margin-top: 20px;
        line-height: 1.4;
        letter-spacing: 1.18px;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);

        @include min-screen(990px) {
            font-size: 2.5vh;
            margin-top: 1.5vh;
        }

        @include max-screen($mobile-max-width - 1) {
            font-size: 20px;
            margin-top: 10px;
        }

        .landing-no-scroll & {
            @include max-screen($breakpoint-mobile) {
                font-size: 3vh;
            }
        }
    }

    &-score {
        margin: 20px 0;

        @include max-screen($mobile-max-width - 1) {
            margin: 10px 0;
        }

        @include min-screen($mobile-max-width - 1) {
            margin: 15px 0;
        }

        img {
            width: 268px;
            display: block;
            margin: 0 auto;

            @include min-screen(990px) {
                width: 25vh;
            }

            //modifier
            .landing-no-scroll & {
                @include max-screen(768px) {
                    width: 22.9vh;
                }
            }
        }
    }

    &-steps {
        &-item {
            display: flex;
            align-items: center;
            color: $color-white;

            &:not(:last-child) {
                @include min-screen($mobile-max-width - 1) {
                    margin-bottom: -10px;
                }

                @include max-screen($mobile-max-width - 1) {
                    margin-bottom: 0.4vh;
                }
            }

            img {
                width: 60px;

                @include max-screen($mobile-max-width - 1) {
                    width: 40px;
                }

                @include min-screen(990px) {
                    width: 6vh;
                }
            }

            span {
                font-family: $font-montserrat;
                letter-spacing: 0.78px;
                display: block;
                width: calc(100% - 40px);
                padding-left: 15px;
                text-shadow: 0px 5px 10px rgba(0,0,0,0.8);
                display: flex;
                align-items: center;
                position: relative;
                top: -3px;

                @include max-screen($mobile-max-width - 1) {
                    font-size: 1.8vh;
                    padding-left: 5px;
                    display: block;
                }

                @include min-screen(990px) {
                    font-size: 1.6vh;
                }

                i {
                    font-size: 24px;
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 10px;

                    @include max-screen($mobile-max-width - 1) {
                        font-size: 18px;
                        margin: 0 5px;
                    }
                }
            }
        }
    }

    &-note {
        font-family: $font-montserrat;
        color: $color-white;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.59px;
        display: inline-block;
        margin-top: 10px;

        .landing-no-scroll & {
            @include max-screen(768px) {
                font-size: 1.5vh;
            }
        }

        @include min-screen(990px) {
            font-size: 1.5vh;
        }
    }

    &-button {
        width: 100%;
        display: block;
        text-align: center;
        margin: 15px 0 0;

        @include min-screen(990px) {
            margin: 1.5vh ​0 0;
        }

        a {
            display: inline-block;
        }

        img {
            width: 230px;
            filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.8));

            .landing-no-scroll & {
                @include max-screen(768px) {
                    width: 25vh;
                }
            }

            @include min-screen(990px) {
                width: 25vh;
            }
        }
    }

    &-terms {
        font-size: 12px;
        font-family: $font-montserrat;
        color: $color-white;
        letter-spacing: 0.59px;
        line-height: 24px;
        text-align: center;
        display: block;
        text-decoration: none;
        margin-top: 10px;

        .landing-no-scroll & {
            @include max-screen(768px) {
                font-size: 1.5vh;
            }
        }

        @include min-screen(990px) {
            font-size: 1.6vh;
        }
    }

    &-terms-container {
        position: absolute;
        bottom: 30px;
        left: 0;
        text-align: center;
        width: 100%;

        a {
            text-decoration: none;
            color: $color-white;
        }
    }
}