.landing-score-list {
    .landing-inner {
        padding-top: 25px;
        padding-bottom: 25px;
        background: {
            image: url('../images/background/mobile-bg.png');
            position: center;
            size: cover;
        }

        @include max-screen(414px) {
            padding-top: 15px;
            height: auto;
        }

        @include min-screen(990px) {
            background-position: top;
            padding-top: 0;
        }
    }

    &-container {
        font: {
            family: $font-anton;
            size: 64px;
        }
        letter-spacing: 3.14px;
        color: #01EEFF;
        text-shadow: 0px 5px 10px rgba(0,0,0, 0.8);
        text-align: center;

        @include min-screen(990px) {
            font-size: 6.5vh;
        }
        
        span {
            background: {
                image: url('../images/text-image/text-outline.png');
                position: center;
                size: cover;
            }
            display: inline-block;
            padding: 23px 90px 0px;

            @include min-screen(990px) {
                padding: 3vh 11vh 0;
            }
        }
    }

    &-player {
        background: {
            image: url('../images/text-image/text-highscore-border.png');
            position: top;
            size: 100% 100%;
        }
        margin-top: 20px;
        padding: 80px 50px 55px;
        min-height: 380px;
        position: relative;

        @include min-screen(990px) {
            margin-top: 0.5vh;
            min-height: auto;
            padding: calc(4vh  + 34px) calc(5vh + 10px) 6vh;
        }
        
        &:before {
            content: "";
            width: 160px;
            height: 34px;
            position: absolute;
            top: 23px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: {
                image: url('../images/text-image/text-highscore-text.png');
                position: top;
                size: cover;
            }

            @include min-screen(990px) {
                top: 2vh;
            }
        }

        @include max-screen(414px) {
            background-size: 100% 100%;
            padding: 80px 35px 0px;
        }
    }

    &-player-item {
        background: {
            image: url('../images/scorebar.png');
            position: center;
            size: cover;
        }
        border-radius: 5px;
        color: $color-white;
        padding: 6px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 10px;

            @include min-screen(990px) {
                margin-bottom: 0.9vh;
            }
        }

        > span {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0px 5px 10px rgba(0,0,0, 0.8);

            @include min-screen(990px) {
                width: 3vh;
                height: 3vh;
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        > p {
            width: calc(100% - 30px);
            padding-left: 10px;
            text-shadow: 0px 5px 10px #000000CC;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            align-items: center;
            letter-spacing: 1.03px;
            line-height: 1.3;

            @include min-screen(990px) {
                font-size: 1.6vh;
            }
        }
    }

    &-form {
        color: $color-white;

        p {
            font-size: 24px;
            letter-spacing: 1.18px;
            text-shadow: 0px 5px 10px rgba(0,0,0, 0.5);
            text-align: center;
            line-height: 1.3;

            @include min-screen(990px) {
                font-size: 2vh;
                margin-top: 1.2vh;
            }

            @include max-screen(768px) {
                font-size: 18px;
            }

            br {
                @include max-screen-height(765px) {
                    display: none;
                }

                @include max-screen(768px) {
                    display: block;
                }
            }
        }

        form {
            max-width: 414px;
            margin: 15px auto 0;
            text-align: center;

            @include min-screen(990px) {
                margin: 1vh auto 0;
            }

            ul {
                text-align: left;

                li {
                    &:not(:last-child) {
                        margin-bottom: 10px;

                        @include min-screen(990px) {
                            margin-bottom: 0.9vh;
                        }
                    }
                }
            }

            label {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 10px 15px;
                border-radius: 10px;
                color: #000;
                background-color: $color-white;
                font-size: 18px;
                letter-spacing: 0.88px;

                @include min-screen(990px) {
                    padding: 0.8vh 1.5vh;
                    font-size: 1.8vh;
                }
            }

            input,
            button {
                background-color: transparent;
                border: 0;
                color: #000;
                flex: 1;
                outline: none;
            }

            button {
                display: block;
                text-align: center;
                margin: 10px auto;

                img {
                    max-width: 235px;
                    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, .8));

                    @include min-screen(990px) {
                        max-width: 100%;
                        width: 22vh;
                    }
                }
            }

            a {
                letter-spacing: 0.59px;
                color: #FFFFFF;
                font-size: 12px;
                display: inline-block;
                text-decoration: none;

                &:hover { 
                    text-decoration: none;
                }
            }
        }
    }
}