.landing-ingame {
    position: relative;

    @include min-screen(990px) {
        padding: 10px 0;
    }
    
    .landing-inner {
        padding-top: 25px;
        padding-bottom: 25px;
        background: {
            image: url('../images/background/mobile-bg-game.png');
            position: center;
            size: cover;
        }
        min-height: 100vh;
        position: relative;

        @include min-screen(990px) {
            min-height: calc(100vh - 50px);
        }

        @include max-screen(414px) {
            padding-top: 15px;
        }

        @include min-screen(990px) {
            background-position: top;
            padding-top: 36px;
        }
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: {
            image: url('../images/background/mobile-bg-game-header.png');
            position: center;
            size: cover;
        }
        border-bottom: 5px solid #004aad;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        padding: 15px;
    }

    &-score {
        font: {
            size: 42px;
            weight: normal;
        }
        letter-spacing: 2.06px;
        color: $color-primary;

        @include max-screen(414px) {
            font-size: 28px;
        }
    }

    &-time {
        p {
            width: 178px;
            height: 44px;
            filter: drop-shadow(0px 5px 10px rgba(0,0,0, 0.8));
            background: {
                image: url('../images/icon-timeframe.png');
                position: 50% 40%;
                size: cover;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: normal;
            color: $color-white;
            padding-left: 15px;
            letter-spacing: 1.18px;
            position: relative;
            right: -10px;

            @include max-screen(414px) {
                font-size: 20px;
            }

            span {
                position: relative;
                top: -2px;
                text-shadow: 0px 5px 10px rgba(0,0,0, 0.8);
            }
        }
    }

    &-status {
        position: absolute;
        width: 100%;
        left: 0;
        top: 170px;

        img {
            width: 100%;
        }

        $state_classes: start, ready, timesup, goodjob;

        @each $state_class in $state_classes {
            &[data-game-status="#{$state_class}"] {
                .#{$state_class} {
                    img {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }

        

        @for $i from 1 through 3 {
            &[data-game-status="#{$i}"] {
                .number-#{$i} {
                    img {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }

        div {
            text-align: center;
            position: absolute;
            width: 100%;
            overflow: hidden;

            @include max-screen(375px) {
                padding: 0 20px;
            }

            img {
                position: relative;
                transform: translateY(-100%);
                opacity: 0;
                transition: opacity 0.3s ease-in-out,
                            transform 0.6s ease-in-out;
            }
        }

        .start img,
        .ready img {
            width: 272px;

            @include max-screen(375px) {
                width: 80%;
            }
        }

        .number img {
            width: 51px;
        }

        .number-1 img {
            width: 34px;
        }

        .timesup img {
            width: 385px;

            @include max-screen(375px) {
                width: 100%;
            }
        }

        .goodjob img {
            width: 389px;

            @include max-screen(375px) {
                width: 100%;
            }
        }
    }

    &-bucket {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 50px 10px;

        img {
            width: 242px;
            height: 215px;
            display: block;
            margin: 0 auto;

            @include max-screen(414px) {
                width: 180px;
                height: auto;
            }
        }
    }
}