.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    &.is-active {
        -webkit-animation: ani2 0.7s steps(70) forwards;
        animation: ani2 0.7s steps(70) forwards;
    }
    
    svg path {
        fill: $color-black;
    }
}